<template>
<div>
    <h2><label>Nombre: </label>{{ user.name }}</h2>
    <h2><label>Email: </label>{{ user.email }}</h2>
    <h2><label>Password: </label>{{ user.password }}</h2>
    <h2><label>Grupo: </label>{{ user.group }}</h2>
</div>
</template>
<script lang="ts" setup>
    import { useRoute } from 'vue-router'
    import UserService from '@/service/UserService'
    import { onMounted  } from 'vue';
    const service = new UserService()
    const user = service.getUser()

    onMounted(async () => {
        const router = useRoute()
        const userId = router.params.email as string
        const name = router.params.name as string
        const group = router.params.group as string
        await service.fetchUser(userId, name, group)
    })
</script>

<style scoped></style>