<template>
<div>
    <h1>Registro de usuarios</h1>
    <form @submit.prevent="EnviarForm()">
        <input type="text" v-model="nombre" placeholder="Ingresa tu nombre">
        <input type="email" v-model="correo" placeholder="Ingresa tu correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <input type="text" v-model="grupo" placeholder="Ingresa tu grupo">
        <input type="password" v-model="contra" placeholder="Ingresa tu contraseña" >
        <button type="submit">Enviar</button>
    </form>
</div>
</template>
<script lang="ts" setup>
    import UserService from '@/service/UserService'
    import { ref } from 'vue'

    const service = new UserService()

    const nombre = ref('')
    const correo = ref('')
    const contra = ref('')
    const grupo = ref('')

    const EnviarForm = () => {
        if(!nombre.value || !correo.value || !contra.value || !grupo.value){
            alert("Por favor, llena todos los campos")
        }
        if (!/^[\w-]+(\.[\w-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$/.test(correo.value)) {
            alert("Por favor, ingresa un correo electrónico válido");
        }
        service.fetchRegister(nombre.value, correo.value, contra.value, grupo.value)
    }
</script>

<style scoped></style>